<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="current-page">Class Announcement</li>
</ol>

<div class="container container-border subforum-rules">
  <div class="rules-header row horizontal-padding-15">
    <h4>Rules and Guidelines</h4>
  </div>

  <div class="row horizontal horizontal-padding-15">
    <h5>The following rules and guidelines only apply to this subforum</h5>
    <ul>
      <li>Only insturctors are allowed to create a discussion</li>
      <li>The reply function is disabled in this subforum</li>
      <li>Announcement titles should be at least 5 characters long but no longer than 100 characters</li>
      <li>Announcement bodies must be at least 10 characters long</li>
    </ul>
  </div>
</div>

<div class="container container-border min-height-200">
  <div class="row subforum-header">
    <h4> &nbsp;&nbsp; :: Class Announcement :: </h4>
  </div>

  <div class="row subforum-tag orange-bottom white-top">
    <div class="col-xs-5">
      <h4>Topic</h4>
    </div>

    <div class="col-xs-5"></div>

    <div class="col-xs-2 align-right">
      <h4>Views</h4>
    </div>
  </div>

  <% if !@announcements.empty? %>
    <% @announcements.order('created_at DESC').each do |a| %>
      <div class="row orange-bottom discussion-list">
        <div class="col-xs-5">
          <div>
            <a class="black-bold" href="/announcements/<%= a.id %>"><%= a.title %></a>
          </div>

          <div>
            <a class="gray-bold" href="/users/<%=a.user.id%>"><%= a.user.username %></a>,
            <span class="gray-normal">
              <%= a.created_at.strftime("%b %d, %Y") %>
            </span>
          </div>
        </div>

        <div class="col-xs-5"></div>

        <div class="col-xs-2 align-right">
          <div>
            <span class="black-bold">Views:</span> <%= a.view %>
          </div>

          <div>
            <span>N/A</span>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-xs-4"></div>

      <div class="col-xs-4">
        <em><span class="forum-empty">The forum is currently empty</span></em>
      </div>
    </div>
  <% end %>
</div>

<div class="container subforum-footer">
  <div class="row">
    <div class="col-xs-2">
      <%= will_paginate @announcements, renderer: BootstrapPagination::Rails, :class => "pagination-sm", :previous_label => "《", :next_label => "》"%>
    </div>

    <div class="col-xs-9"></div>

    <div class="col-xs-1">
      <% if logged_in? %>
        <% if is_instructor? %>
          <a href="/announcements/new" class="btn btn-default new-post-btn">New Post</a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
