<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="ClassAnnouncement">Class Announcement</a></li>
  <li class="current-page">New Post</li>
</ol>

<div class="container container-border gray-background">
  <%= form_for @announcement, :html => {class:"form-horizontal"} do |f| %>
    <fieldset>
      <% if @announcement.errors.any? %>
        <div id="error_explanation" class="col-md-offset-4">
          <h2>
            Oops! <%= pluralize(@announcement.errors.count, "error") %>!
          </h2>
          <ul>
            <% @announcement.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group post-header">
        <h3 class="col-md-7 col-md-offset-5">
          New Post
        </h3>
      </div>

      <div class="form-group">
        <%= f.label :topic, class: "control-label col-xs-3 formLabel" %>
        <div class="col-xs-6">
          <%= f.text_field :title, placeholder: "Minimum length 5 | Maximum length 100", class: "form-control"%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :body, class: "control-label col-xs-3 formLabel"%>
        <div class="col-xs-6">
          <%= f.text_area :content, placeholder:"Minimum length 10",class: "form-control wysihtml5", as: :wysihtml5%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-6 col-xs-offset-3">
          <%= f.submit 'Post', class: "btn btn-default submit-btn btn-block"%>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

<%= javascript_tag do %>
    textOption();
<% end %>
