<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="current-page">General Discussion</li>
</ol>

<div class="index-container">
  <div class="row index-heading">
    <div class="col-xs-5">Topic</div>
    <div class="col-xs-3"></div>
    <div class="col-xs-2 index-comment-view">Comments</div>
    <div class="col-xs-2 index-last-comment"> Last Comment</div>
  </div>

  <div class="index-listing">
    <% if !@articles.empty? %>
      <% @articles.order('created_at DESC').each do |a| %>
        <div class="row">
          <div class="col-xs-5">
            <div>
              <a class="post-index-title" href="/articles/<%= a.id %>"><%= a.title %></a>
            </div>
            <div>
              <a class="post-index-owner" href="/users/<%=a.user.id%>">
                <%= a.user.username %>
              </a>,
              <span class="post-index-date">
                <%= a.created_at.strftime("%b %d, %Y") %>
              </span>
              <span class="like-count">
                (<%= a.likes.count %> likes)
              </span>
            </div>
          </div>
          <div class="col-xs-3"></div>
          <div class="col-xs-2 index-comment-view">
            <div>
              <span>Comments:</span> <%= a.comments.count%>
            </div>
            <div>
              <span>Views: </span><%= a.view %>
            </div>
          </div>
          <div class="col-xs-2">
            <% if a.comments.empty? == false %>
              <div class="index-last-comment last-comment-date">
                <%= a.comments.last.created_at.strftime("%b %d, %H:%m") %>
              </div>
              <div class="index-last-comment last-comment-name">
                by <a href="/users/<%=a.comments.last.user.id%>"><%= a.comments.last.user.username%></a>
              </div>
            <% else %>
                      <div class="index-last-comment">
                        <div class="index-last-comment bold-text">None</div>
                        <div class="index-last-comment bold-text last-comment-name">N/a</div>
                      </div>
                  <% end %>
            </div>
        </div>
        <% end %>
        <% else %>
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
          <em><span class="forum-empty">The forum is currently empty</span></em>
        </div>

        </div>
        <% end %>
      </div>
</div>


<div class="row index-bottom-footer">
    <div class="col-xs-2">
        <%= will_paginate @articles, renderer: BootstrapPagination::Rails, :class => "pagination-sm", :previous_label => "《", :next_label => "》"%>
    </div>
    <div class="col-xs-9">
    </div>
    <div class="col-xs-1">
        <% if current_user %>
            <a href="/articles/new" class="btn btn-default new-post-btn">New Post</a>
        <% end %>
    </div>
</div>
