<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="current-page">Inbox</li>
</ol>

<%= will_paginate @conversations, renderer: BootstrapPagination::Rails, :class => "pagination pagination-sm", :previous_label => "《", :next_label => "》"%>

<div class="container container-border min-height-200">
  <div class="row container-border" id="inbox-header">
    <h4> &nbsp; :: Inbox :: </h4>
  </div>

  <div class="row feature-subheader orange-bottom">
    <div class="col-xs-2 inbox-username">
      <strong><h4>Username</h4></strong>
    </div>

    <div class="col-xs-6">
      <strong><h4>Last Message</h4></strong>
    </div>

    <div class="col-xs-4 inbox-last-update"><strong><h4>Last Send/Received On</h4></strong></div>
  </div>

  <% if !@conversations.empty? %>
    <% @conversations.reverse.each do |c| %>
      <div class="row orange-bottom conversation">
        <div class="col-xs-2">
          <% if c.user.username != current_user.username %>
            <a href="/conversations/<%= c.id %>"><%= c.user.username %></a>
          <% else %>
            <a href="/conversations/<%= c.id %>"><%= c.inbox.user.username %></a>
          <% end %>
        </div>

        <div class="col-xs-6">
          <span class="last-message-received"><%= c.messages.last.content %></span>
        </div>

        <div class="col-xs-4 inbox-last-update">
          <h5><%= c.messages.last.created_at.strftime("%B %d -  %H:%M")%></h5>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-xs-4"></div>

      <div class="col-xs-4">
        <em><span class="center-italic">The inbox is currently empty</span></em>
      </div>
    </div>
  <% end %>
</div>
