<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/conversations/index">Inbox</a></li>
  <li class="current-page">Personal Message</li>
</ol>

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-2"></div>

    <div class="col-xs-8 chat-header container-border">
      <h4> &nbsp; :: Personal Message ::</h4>
    </div>

    <div class="col-xs-2"></div>
  </div>

  <div class="row">
    <div class="col-xs-2"></div>

    <div class="col-xs-8 container-border no-top-border" id="xs-padding-adjust">
      <div class="chat-container gray-background">
        <% if current_user %>
          <% @messages.each do |m| %>
            <div class="row message">
              <div class="col-xs-10">
                <a href="/users/<%= m.user.id %>"><%= m.user.username %></a>
                <span class="message-date"><%= m.created_at.strftime("%b %d, %Y %l:%M %p") %></span>:
                <span><%= m.content %></span>
              </div>

              <div class="col-xs-2"></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>

    <div class="col-xs-10">
      <%= render 'messages/form' %>
    </div>

    <div class="col-xs-1"></div>
  </div>
</div>

<script>
  $('.chat-container').scrollTop($('.chat-container')[0].scrollHeight);
</script>
