<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="current-page">Account Setting</li>
</ol>

<div class="container gray-background container-border">
  <%= form_for(@user, url: users_update_path(@user), method: :patch, :html => {class:"form-horizontal", :multipart => true}) do |f| %>


  <fieldset>
      <div class="form-group form-header">
          <span class="col-md-7 col-md-offset-5" id="accountSettingTag">
            Account Setting
          </span>
      </div>

      <% if @user.errors.any? %>
        <div id="error_explanation" class="col-md-offset-4">
          <h5>
            Please fix the following <%= pluralize(@user.errors.count, "field") %> before proceeding
          </h5>
          <ol>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ol>
        </div>
      <% end %>

    <div class="form-group">
        <%= f.label :username, class: "col-md-4 control-label" %>
        <div class="col-md-4">
            <%= f.text_field :username , placeholder: "Username", class: "form-control"  %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :first_name, class: "col-md-4 control-label" %>
        <div class="col-md-4">
            <%= f.text_field :fname, placeholder: "First name", class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label  :last_name, class: "col-md-4 control-label" %>
        <div class="col-md-4">
            <%= f.text_field :lname , placeholder: "Last name", class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label  :password, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.password_field :password, placeholder: "Password", class: "form-control"%>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation, class: "col-md-4 control-label" %>
        <div class="col-md-4">
            <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-control"%>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
            <%= f.submit "Update Account Setting", class: "btn btn-default btn-block submit-btn"%>
        </div>
    </div>
</fieldset>
  <% end %>
</div>
