<ol class="breadcrumb">
  <li class="current-page">wdiForum-Home</li>
</ol>

<div class="container container-border">
  <div class="row" id="forum-mainpage-header">
    <h4> &nbsp;&nbsp; :: WDI | Web Development Immersive ::</h4>
  </div>

  <div class="row subforum-list">
    <div class="col-xs-2">
      <img src="http://40.media.tumblr.com/4d03bcdbd87a60519194e748487fe06e/tumblr_ng7fefkHfq1stzm5co1_500.jpg" class="subforum-logo">
    </div>

    <div class="col-xs-10">
      <h3>
        <a href="/GeneralDiscussion">General Discussion</a>
      </h3>
      <p>
        Come discuss about anything questions you have relating to homeworks, projects, lectures and other useful resource.
      </p>
      <p>
        Discussions: <%= @articles.length %>
        Messages: <%= @comments.length %>
      </p>
    </div>
  </div>

  <div class="row subforum-list">
    <div class="col-xs-2">
      <img class="subforum-logo" src="http://3.imimg.com/data3/HP/NL/MY-220157/market-survey-report-500x500.jpg">
    </div>

    <div class="col-xs-10">
      <h3>
        <a href="/FeedbackInbox">Feedback Inbox</a>
      </h3>
      <p>
        Share your arts, projects or any crazy ideas you have in mind for absolutely  private feedbacks
      </p>
      <p>
        Discussions: <%= @surveys.length %>
        Messages: <%= @answers.length %>
      </p>
    </div>
  </div>

  <div class="row subforum-list">
    <div class="col-xs-2">
      <img class="subforum-logo" src="https://cdn3.volusion.com/xeyyv.fvauo/v/vspfiles/photos/chalkdecstick1-5.jpg?1447926671">
    </div>
    
    <div class="col-xs-10">
      <h3>
        <a href="/ClassAnnouncement">Class Announcement</a>
      </h3>
      <p>
        Come see the class announcements from instructors for latest workshops and schedule changes
      </p>
      <p>
        Announcements: <%= @announcements.length %>
      </p>
    </div>
  </div>
</div>
