<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="current-page"><%= @user.username %>'s Profile</li>
</ol>

<div class="container">
<div class="row show-user-header">
  <div class="col-md-3">
    User Information
  </div>
</div>
<div class="row show-user">
  <div class="col-md-3 user-show-info-section">
    <%= image_tag @user.image %>
    <span class="profileInfo"> <strong>Username:</strong> <%= link_to "#{@user.username}", user_information_path(@user) %><br> </span>
    <span class="profileInfo">  <strong>Name:</strong> <%= @user.fname %> <%= @user.lname %></span><br>
    <span class="profileInfo"> <strong>Type:</strong> <%= @user.user_type %><br><br></span>

    <% if current_user && @user != current_user %>
      <% if @conversation.nil? %>
        <%= render 'conversations/form' %>
      <% else %>
        <a href="/conversations/<%= @conversation.id %>" class="btn btn-default message-btn">Message</a>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-5 user-history">
    <strong><span >Posts created by <%= @user.username%></span></strong><br>
    <% if @articles.empty? && @surveys.empty?%>
        <%= @user.username %> has not yet created a post in this forum
    <% else %>
      <% @articles.each do |a| %>
        <span class="articleHistory"><%= link_to "#{a.title}", article_path(a) %></span><br>
      <% end %>
      <% @surveys.each do |s| %>
        <span class="surveyHistory"><%= link_to "#{s.title}", survey_path(s) %></span><br>
      <% end %>
    <% end %>
  </div>
</div>
</div>
