<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="current-page">Feedback Inbox</li>
</ol>

<div class="container container-border subforum-rules">
  <div class="rules-header row horizontal-padding-15">
    <h4>Rules and Guidelines</h4>
  </div>

  <div class="row horizontal-padding-15">
    <h5>The following rules and guidelines only apply to this subforum</h5>
    <ul>
      <li>Post titles should be at least 5 characters long but no longer than 100 characters</li>
      <li>Post bodies must at least be 3 characters long</li>
      <li>Replies must at least be 2 characters long</li>
      <li>Users are restricted to one reply per post; users may edit or delete their reply at anytime</li>
      <li>Only post owners will have access to all the replies under a post; other users will only have access to their own reply</li>
      <li>Duplicate posts (discussions or messages) are not allowed; duplicate posts will be removed by admin</li>
    </ul>
  </div>
</div>

<div class="container container-border min-height-200">
  <div class="row subforum-header">
    <h4> &nbsp;&nbsp; :: Feedback Inbox :: </h4>
  </div>

  <div class="row subforum-tag orange-bottom white-top">
    <div class="col-xs-5"><h4>Topic</h4></div>

    <div class="col-xs-3"></div>

    <div class="col-xs-2 align-right"><h4>Comments/Views</h4></div>

    <div class="col-xs-2 align-right"><h4>Last Comment</h4></div>
  </div>

  <% if !@surveys.empty? %>
    <% @surveys.order('created_at DESC').each do |s| %>
      <div class="row orange-bottom discussion-list">
        <div class="col-xs-5">
          <div>
            <a class="black-bold" href="/surveys/<%= s.id %>"><%= s.title %></a>
          </div>

          <div>
            <a class="gray-bold" href="/users/<%=s.user.id%>"><%= s.user.username %></a>,
            <span class="gray-normal"><%= s.created_at.strftime("%b %d, %Y") %></span>
            <span class="green-italic">(<%= s.likes.count %> likes)</span>
          </div>
        </div>

        <div class="col-xs-3"></div>

        <div class="col-xs-2 align-right">
          <div><span class="black-bold">Comments:</span> <%= s.answers.count%></div>

          <div><span class="black-bold">Views: </span><%= s.view %></div>
        </div>

        <div class="col-xs-2 align-right">
          <% if s.answers.empty? == false %>
            <div class="black-bold">
              <%= s.answers.last.created_at.strftime("%b %d, %H:%m") %>
            </div>

            <div>
              by <a class="gray-bold" href="/users/<%=s.answers.last.user.id%>"><%= s.answers.last.user.username%></a>
            </div>
          <% else %>
            <div class="index-last-comment">
              <div class="index-last-comment bold-text">None</div>
              <div class="index-last-comment bold-text last-comment-name">N/a</div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-xs-4"></div>

      <div class="col-xs-4">
        <em><span class="forum-empty">The forum is currently empty</span></em>
      </div>
    </div>
  <% end %>
</div>

<div class="container subforum-footer">
  <div class="row">
    <div class="col-xs-2 xs-padding-adjust">
      <%= will_paginate @surveys, renderer: BootstrapPagination::Rails, :class => "pagination-sm", :previous_label => "《", :next_label => "》"%>
    </div>

    <div class="col-xs-9"></div>

    <div class="col-xs-1">
      <% if current_user %>
        <a href="/surveys/new" class="btn btn-default new-post-btn">New Post</a>
      <% end %>
    </div>
  </div>
</div>
