<!DOCTYPE html>
<html>
  <head>
    <title>
      WDI Forum <% if logged_in? %>| <%= current_user.username %><% end %>
    </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" id="header">
      <div class="navbar-left">
        <a href="<%= root_path %>"><img id="homeLogo" src ="http://i902.photobucket.com/albums/ac222/llovee_91/WDI.png"/></a>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right" id="user-function">
            <% if logged_in? %>
              <li>
                <a class="white-bold" href="/chatrooms/1">Forum Chatroom</a>
              </li>
              <li class="dropdown">
                <a class="white-bold dropdown-toggle btn-md" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= "#{current_user.username}" %><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="user-dropdown">
                  <li>
                    <%= link_to 'Inbox', user_inbox_path(current_user) %>
                  </li>
                  <li>
                    <%= link_to 'Profile Info', user_information_path(current_user) %>
                  </li>
                  <li>
                    <%= link_to 'Account Setting', edit_user_path(current_user)%>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to 'Log Out', logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to 'Log In', login_path %>
              </li>
              <li>
                <%= link_to 'Sign up', signup_path %>
              </li>
            <% end %>
          </ul>
        </div>
    </nav>

    <div class="container-fluid jumbotron">
      <%= yield %>
    </div>
  </body>
</html>
